*{
    padding:0;
    margin:0;
    font-family: chiller;
}
.main{
    height: 100%;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}
.heading{
    font-size: 50px;
}
.bottom{
    font-size: 50px;
}
.button{
    font-size: 20px;
    margin-top: 25%;
}
.button nav a{
    text-decoration: none;
    background-color: white;
    color:black;
}